@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Urbanist:wght@300;400;600;700;800&display=swap');

// Global css
$primaryColor: #02BCE6;
$secondaryColor: #008159;
$accentColor: #F2C246;
$darkBlue: #21384D;
$lightBlack: #2A2A2A;
$lightBlack50: rgba(42, 42, 42, 0.50);
$lightBlack70: rgba(42, 42, 42, 0.70);
$lightBlack80: rgba(42, 42, 42, 0.80);
$lightBlack90: rgba(42, 42, 42, 0.90);
$bgColor: #F4F9FF;
$white: #ffffff;
$openSans: 'Open Sans', 'Helvetica Neue', sans-serif;
$ubranist: 'Urbanist', 'Helvetica Neue', sans-serif;

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
}
a {
    text-decoration: none !important;
    transition: all 1s ease;
}
a:hover {
    color: $accentColor !important;
}
.global-btn {
    color: $bgColor;
    text-align: center;
    font-family: $openSans;
    font-style: normal;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    border-radius: 12px;
    background: $accentColor;
    border: 1px solid $accentColor;
    transition: all 1s ease;
    &:hover {
        border: 1px solid $accentColor;
        background: $white !important;
        color: $accentColor;
    }
}
.blue-btn {
    border-radius: 12px;
    background: linear-gradient(100deg, rgba(0, 129, 89, 0.50) 2.59%, rgba(2, 188, 230, 0.50) 111.36%);
    color: $white;
    font-family: $openSans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: all 1s ease;
    &:hover {
        border: 1px solid $primaryColor;
        background: $white !important;
        color: $primaryColor !important;
    }
}
.white-text {
    color: $white;
}
.primary-color {
    color: $primaryColor;
}
.accent-text {
    color: $accentColor;
}
.dark-blue-text {
    color: $darkBlue;
}
.secondary-color {
    color: $secondaryColor;
}
.light-black {
    color: $lightBlack;
}
.light-black-50 {
    color: $lightBlack50;
}
.light-black-70 {
    color: $lightBlack70;
}
.light-black-80 {
    color: $lightBlack80;
}
.light-black-90 {
    color: $lightBlack90;
}
.font-urbanist {
    font-family: $ubranist !important;
}
.font-weight-600 {
    font-weight: 600 !important;
}
.font-40 {
    font-family: $openSans;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.2px;
}
.font-24 {
    font-family: $openSans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.12px;
}
.font-20 {
    font-family: $openSans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.1px;
}
.font-18 {
    font-family: $openSans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.font-16 {
    font-family: $openSans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.08px;
}
.font-14 {
    font-family: $openSans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.font-12 {
    font-family: $openSans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.font-10 {
    font-family: $openSans;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

// Header
header {
    background: $bgColor;
    padding: 16px 0;
    .dropdown-toggle::after {
        display: none !important;
    }
    .PakDoc-dropdown {
        gap: 32px;
    }
    .responsive_header {
        height: 100vh;
        background-color: #ffffff;
        min-width: 350px;
        max-width: 350px;
        top: 0;
        right: -350px;
        position: fixed;
        z-index: 103;
        padding: 44px 16px 24px 16px;
        transition: 0.5s;
        overflow: scroll;
        border-radius: 5px 0 0 5px;
      }
      .responsive_header.active {
        right: 0px;
      }
      .pakdoc-login-dropdown {
        width: 244px;
        padding: 16px;
        margin-top: 10px !important;
        border-radius: 12px !important;
      }
      .pakdoc-profile-dropdown {
        width: 301px;
        padding: 16px;
        margin-top: 10px !important;
        border-radius: 12px !important;
      }
      .pakdoc-profile-dropdown::before, .pakdoc-notification-menu::before, .pakdoc-login-dropdown::before {
        content: "";
        width: 23px;
        height: 13px; 
        position: absolute;
        top: -9px; 
        right: 30px;
        background-color: white;
        clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
    }
    .pakdoc-notification-menu {
        width: 475px;
        padding-top: 16px;
        transform: translate3d(-89%, 39.4px, 0px) !important;
        inset: 0px auto auto 0px !important;
        border-radius: 12px !important;
        .notification-data {
            border-top: 1px solid rgba(112, 133, 131, 0.30);
            border-bottom: 1px solid rgba(112, 133, 131, 0.30);
        }
    }
}
// Hero banner
.hero-banner {
    padding: 89px 0 42px !important;
    background: url("/assets/images/left-right-vector.png") no-repeat, url("/assets/images/center-bubble.png") top right no-repeat, linear-gradient(100deg, rgba(0, 129, 89, 0.50) 2.59%, rgba(2, 188, 230, 0.50) 111.36%);
    .book-appointment {
        border-radius: 16px;
        background: rgba(255, 255, 255, 0.60);  
        padding: 24px 180px;
        .input-div {
            padding: 12px 32px;
            border-radius: 12px;
            background: #FFF;
            flex: 1;
            width: 100%;
        }
        .form-control {
            padding: 0 !important;
            color: $lightBlack !important;
            background-color: transparent !important;
            border: none !important;
        }
        .form-control::placeholder {
            color: rgba(42, 42, 42, 0.50);
            font-family: $openSans;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 0.08px;
        }
        .form-control:focus {
            box-shadow: none !important;
        }
        #searcLocation {
            width: 70px;
        }
    }
    .carousel-item {
        border-radius: 8px;
        border: 1px solid $secondaryColor;
        padding: 10px;
    }
}
.left-right-vector-bg {
    background: url("../images/left-vector.png") top left no-repeat, url("../images/right-vector.png") bottom right no-repeat, $bgColor;
}
// Top search
.top-search {
    padding: 80px 0 120px;
    .top-search-items div {
        width: 165px;
    }
    .topSearchedSwiper {
        .swiper-slide {
            margin-right: 12px;
        }
    }
}
// Qualified doctors
.qualified-doctors {
    background: linear-gradient(100deg, rgba(0, 129, 89, 0.25) 2.59%, rgba(2, 188, 230, 0.25) 111.36%);
    position: relative;
    .swiper {
        width: 100%;
        height: 100%;
        position: unset !important;
      }
      .swiper-pagination {
        display: none;
      }
      .swiper-button-next:after, .swiper-button-prev:after {
        content: unset !important;
      }
      .swiper-button-next, .swiper-button-prev {
        position: unset !important;
        width: 44px;
        height: 44px;
        background: $bgColor;
        border-radius: 50%;
        padding: 8px;
      }
      .prev-btn, .next-btn {
        width: 44px;
        height: 44px;
        background: $bgColor;
        border-radius: 50%;
      }
      .swiper-buttons {
        position: absolute;
        top: -12%;
        right: 2%;
      }
      .swiper-scrollbar-horizontal {
        bottom: 0% !important;
      }
      .swiper-scrollbar-drag {
        background: rgba(2, 188, 230, 0.90) !important;
        left: 0% !important;
        cursor: grab;
      }
      .swiper-scrollbar {
        height: 12px !important;
      }
      .swiper-wrapper {
        gap: 16px;
        margin-bottom: 2.5rem;
      }
      .swiper-slide {
        border-radius: 16px !important;
        background: var(--white-white, #FFF) !important;
        box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.08) !important;
        padding: 16px;
        height: auto;
        .profile-data {
            border-radius: 12px;
            background: var(--primary-color-10, rgba(2, 188, 230, 0.10));
            padding: 6px;
            box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.08);
        }
      }
}
// Testimonials
.testimonials {
    padding: 80px 0 120px !important;
    .review-section {
        border-radius: 16px;
        border: 1px solid rgba(112, 133, 131, 0.20);
        background: $white;
        padding: 20px;
        position: relative;
        img {
            margin-top: -4rem;
        }
    }
    .review-section:nth-child(2) {
        filter: drop-shadow(0px 8px 20px rgba(0, 0, 0, 0.08));
    }
}
// Why we section
.why-we-sec {
    padding: 69px 0 54px;
    background: url("../images/left-right-vector.png") no-repeat, url("../images/center-bubble-full.png") 90% 72% no-repeat, linear-gradient(100deg, rgba(0, 129, 89, 0.50) 2.59%, rgba(2, 188, 230, 0.50) 111.36%);
}
// Top Symptoms
.top-symptoms {
    padding: 80px 0 204px;
}
// Join a doctor section
.join-doctor {
    padding: 55px 0 70px;
    background: url("../images/left-right-vector.png") no-repeat, url("../images/become-a-doctor-vector-bubble.png") 90% 72% no-repeat, linear-gradient(100deg, rgba(0, 129, 89, 0.50) 2.59%, rgba(2, 188, 230, 0.50) 111.36%);
}
// Trusted companies
.trusted-companies {
    padding: 80px 0 200px;
}
// Common disease section
.common-disease-sec {
    padding: 32px 0 58px;
    background: url("../images/left-right-vector.png") no-repeat, url("../images/common-disease-bubble-full.png") 80% 70% no-repeat, linear-gradient(100deg, rgba(0, 129, 89, 0.50) 2.59%, rgba(2, 188, 230, 0.50) 111.36%);
    .accordion {
        margin-top: 32px;
        background-color: transparent !important;
        .accordion-item {
            flex: 1;
            width: 100%;
            background-color: transparent !important;
            border: unset !important;
            .accordion-button {
                background-color: transparent !important;
            }
            .accordion-button:focus {
                box-shadow: unset !important;
            }
            .accordion-collapse.show {
                border-top: 1px solid rgba(112, 133, 131, 0.20);
            }
            .accordion-button:not(.collapsed) {
                box-shadow: unset !important;
                color: $lightBlack;
            }
        }
    }
    
}
// footer section
footer {
    padding: 42px 15px;
    background: $lightBlack90;
}
// Search page
.search-section {
    height: 100vh;
    background: url("../images/map-svg.svg") center/cover no-repeat;
    position: relative;
    .search-doctors {
        width: 621px;
        position: absolute;
        top: 20px;
        right: 74px;
        border-radius: 16px;
        background: var(--White-White, #FFF);
        // padding: 20px;
        box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.08);
        overflow-y: scroll;
        height: 95vh;
        &::-webkit-scrollbar-thumb {
            background: $primaryColor; 
          }
        .search-doctors-fixed-top {
            position: sticky;
            top: 0;
            background-color: $white;
            z-index: 100;
            padding: 20px;
        }
        .input-div {
            padding: 12px 16px;
            border-radius: 8px;
            border: 1px solid rgba(33, 56, 77, 0.30);
            background: $bgColor;
            flex: 1;
            width: 100%;
            .form-control {
                padding: 0 !important;
                color: $lightBlack !important;
                background-color: transparent !important;
                border: none !important;
            }
            .form-control::placeholder {
                color: rgba(42, 42, 42, 0.50);
                font-family: $openSans;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 0.08px;
            }
            .form-control:focus {
                box-shadow: none !important;
            }
            #searcLocation {
                width: 53px;
            }
        }
        .search-buttons {
            margin-left: 1rem;
        }
        .button {
            background-color: $white;
            background: url("../images/btn-border-svg.svg") center/contain no-repeat;
            border: none;
            padding-left: 22px;
            width: 117px;
            height: 47px;
            position: relative;
            &::after {
                display: none !important;
            }
            .button-icon {
                border-radius: 6px;
                border: 1px solid rgba(0, 129, 89, 0.50);
                background: $white;
                box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.08);
                width: 31px;
                height: 31px;
                position: absolute;
                top: 17.5%;
                left: -15%;
            }
        }
        .dropdown-btn-1 .dropdown-menu {
            padding: 16px;
            border-radius: 16px;
            background: $white;
            box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.08);
            width: 334px;
            margin-top: 4px !important;
            input {
                padding: 12px 16px !important;
                border-radius: 8px !important; 
                background: $bgColor !important;
            }
            .label-checkbox {
                display: block;
                position: relative;
                cursor: pointer;
                font-size: 20px;
                user-select: none;
                -webkit-tap-highlight-color: transparent;
                input {
                    display: none;
                  }
                .checkmark {
                position: relative;
                top: 2px;
                left: 0;
                height: 18px;
                width: 18px;
                background-color: transparent;
                border-radius: 0.25em;
                transition: all 0.25s;
                display: block;
                }
                input:checked ~ .checkmark {
                background-color: $primaryColor;
                }
                .checkmark:after {
                content: "";
                position: absolute;
                transform: rotate(0deg);
                border: 0.1em solid white;
                left: 0;
                top: 0;
                width: 18px;
                height: 18px;
                border-radius: 0.25em;
                transition: all 0.25s, border-width 0.1s;
                }
                input:checked ~ .checkmark:after {
                left: 7px;
                top: 3px;
                width: 0.25em;
                height: 0.5em;
                border-color: #fff0 white white #fff0;
                border-width: 0 0.15em 0.15em 0;
                border-radius: 0em;
                transform: rotate(45deg);
                }
            }
            .specialty-list {
                margin-top: 12px;
                height: 300px;
                overflow-y: scroll;
                div {
                    border-radius: 12px;
                    padding: 10px 16px;
                    border: 1px solid $secondaryColor;
                    opacity: 0.6;
                    background: $white;
                    color: $secondaryColor;
                    transition: all 0.5s ease;
                    cursor: pointer;
                    &:hover {
                        background: linear-gradient(100deg, rgba(0, 129, 89, 0.50) 2.59%, rgba(2, 188, 230, 0.50) 111.36%);
                        color: $white;
                        font-weight: 600;
                    }
                }
                &::-webkit-scrollbar {
                    width: 0;
                }
            }
            .range-section {
                input {
                    width: 100%;
                    border-radius: 12px !important;
                    border: 1px solid $secondaryColor !important;
                    padding: 10px 16px;
                    color: $secondaryColor;
                    background: $white !important;
                }
                input:focus {
                    outline: none;
                }
                .noUi-target {
                    background: rgba(0, 129, 89, 0.30) !important;
                        height: 3px !important;
                        box-shadow: unset !important;
                        border: unset !important;
                        width: 95% !important;
                    .noUi-connects {
                    }
                }
                .noUi-horizontal .noUi-handle {
                    width: 20px !important;
                    height: 20px !important;
                    background: $secondaryColor !important;
                    top: -8px !important;
                    cursor: pointer;
                }
                .noUi-handle {
                    border-radius: 50% !important;
                    box-shadow: unset !important;
                }
                .noUi-handle:after, .noUi-handle:before {
                    display: none !important;
                }
            }
        }
        .price-range-menu {
            margin-left: -13rem;
        }
    }
    .doctors-list-results {
        margin-top: 12px;
        padding: 0 20px 20px 20px;
        &>div {
            padding-top: 16px;
            box-shadow: 0px 8px 7px 0px rgba(0, 0, 0, 0.08);
            border-radius: 12px;
            background: $white;
            .doctor-accordion {
                margin-top: 12px;
                .accordion-button {
                    background: linear-gradient(100deg, rgba(0, 129, 89, 0.50) 2.59%, rgba(2, 188, 230, 0.50) 111.36%);
                    color: $bgColor;
                    &:focus {
                        box-shadow: unset !important;
                    }
                    &::after {
                        background-image: url("../images/accordion-down-icon.svg") !important;
                        position: absolute;
                        left: 65%;
                    }
                }
                .accordion-item:first-of-type .accordion-button {
                    border-top-left-radius: unset !important;
                    border-top-right-radius: unset !important;
                }
                .accordion-item:last-of-type .accordion-button.collapsed {
                    border-bottom-left-radius: 12px !important;
                    border-bottom-right-radius: 12px !important;
                    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.08) !important;
                }
                .accordion-item {
                    border: unset !important;
                    border-bottom-left-radius: 12px;
                    border-bottom-right-radius: 12px;
                }
                .appointents-date {
                    padding: 9px 9px 11px 9px;
                    border-radius: 18px;
                    background: linear-gradient(100deg, rgba(0, 129, 89, 0.50) 2.59%, rgba(2, 188, 230, 0.50) 111.36%);
                    height: 108px;
                    border: 0;
                    .number-of-appointments {
                        background: $white;
                        color: var(--secondary-color-100, #008159);
                        text-align: center;
                        // width: 90px;
                        height: 27px;
                        padding: 3px 6px; 
                        border-radius: 16px 16px 8px 8px;
                    }
                }
                .appointents-date.disabled {
                    opacity: 0.5;
                }
            }
        }
        .doctor-profile {
            position: relative;
            border-radius: 14px;
            border: 3px solid $primaryColor;
            &>svg {
                position: absolute;
                bottom: 5%;
                right: 3%;
                fill: #fff;
            }      
        }
    }
}
#filterModal .modal-dialog {
    margin-top: 6rem !important;
    .modal-content {
        padding: 16px !important;
        .modal-header {
            border-bottom: unset !important;
            padding: 0 !important;
            .btn-close {
                font-size: 14px !important;
            }
        }
        .modal-body {
            padding: 0;
            .btns {
                border-radius: 12px;
                padding: 10px 16px;
                border: 1px solid #008159;
                opacity: 0.6;
                background: #ffffff;
                color: #008159;
                transition: all 0.5s ease;
                cursor: pointer;
                &:hover {
                    background: linear-gradient(100deg, rgba(0, 129, 89, 0.5) 2.59%, rgba(2, 188, 230, 0.5) 111.36%);
                    color: #ffffff;
                    // font-weight: 600;
                }
                &:hover .label-checkbox {
                    // display: block;
                }
                .label-checkbox {
                    display: none;
                    position: relative;
                    cursor: pointer;
                    font-size: 20px;
                    user-select: none;
                    -webkit-tap-highlight-color: transparent;
                    input {
                        display: none;
                        }
                    .checkmark {
                    position: relative;
                    top: 2px;
                    left: 0;
                    height: 18px;
                    width: 18px;
                    background-color: transparent;
                    border-radius: 0.25em;
                    transition: all 0.25s;
                    display: block;
                    }
                    input:checked ~ .checkmark {
                    background-color: $primaryColor;
                    }
                    .checkmark:after {
                    content: "";
                    position: absolute;
                    transform: rotate(0deg);
                    border: 0.1em solid white;
                    left: 0;
                    top: 0;
                    width: 18px;
                    height: 18px;
                    border-radius: 0.25em;
                    transition: all 0.25s, border-width 0.1s;
                    }
                    input:checked ~ .checkmark:after {
                    left: 7px;
                    top: 3px;
                    width: 0.25em;
                    height: 0.5em;
                    border-color: #fff0 white white #fff0;
                    border-width: 0 0.15em 0.15em 0;
                    border-radius: 0em;
                    transform: rotate(45deg);
                    }
                }
            }
        }
    }
}
#availableDatesModal {
    .modal-content {
        padding: 16px !important;
        .modal-header {
            border-bottom: 1px solid rgba(112, 133, 131, 0.30);
            .btn-close {
                font-size: 14px !important;
            }
        }
        .modal-body {
            padding: 0;
            .doctor-profile {
                padding: 30px 12px;
                border-radius: 12px;
                box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.08);
                background: rgba(2, 188, 230, 0.10);
            }
            .visit-type-btn {
                width: 100%;
                padding: 8px 16px;
                background: $white;
                border-radius: 12px;
                border: 1px solid $secondaryColor;
                transition: all 1s ease;
                .price-tag {
                    border-radius: 5px;
                    border: 1px solid $primaryColor;
                    padding: 8px;
                }
                &:hover {
                    background: linear-gradient(180deg, rgba(0, 129, 89, 0.50) 0%, rgba(2, 188, 230, 0.50) 100%);
                    span {
                        color: $white;
                    }
                    .price-tag {
                        background: $white;
                        color: $lightBlack;
                        border-color: $accentColor;
                    }
                    >span>svg>path {
                        stroke: $white;
                    }
                }
            }
            .custom-dropdown {
                border-radius: 12px;
                border: 1px solid $secondaryColor;
                background: $white;
                padding: 13px 16px;
                width: 100%;
                position: relative;
                .dropdown-svg {
                    transform: rotateX(180deg);
                }
            }
            .custom-dropmenu {
                display: none;
                border-radius: 12px;
                border: 1px solid rgba(112, 133, 131, 0.30);
                position: absolute;
                bottom: 32%;
                background: $white;
                max-height: 350px;
                overflow-y: scroll;
                &::-webkit-scrollbar {
                    width: 0;
                }
                .hospital-list {
                    padding: 12px 16px;
                    cursor: pointer;
                    &:hover {
                        background: $primaryColor;
                        .hospital-name, .hospital-miles {
                            color: $white;
                        }
                        svg path {
                            fill: $white;
                        }
                    }
                    &:hover:first-child {
                        border-radius: 12px 12px 0 0;
                    }
                    &:hover:last-child {
                        border-radius: 0 0 12px 12px;
                    }
                    .hospital-name {
                        white-space: nowrap; 
                        overflow: hidden;
                        text-overflow: ellipsis;
                        width: 235px;
                    }
                }
            }
            .dates {
                padding: 12px 16px;
                border-radius: 12px;
                background: $white;
                box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.08);
            }
            .availabl-dates {
                max-height: 350px;
                overflow-y: scroll;
                gap: 12px;
                .availabl-dates-list {
                    padding: 12px;
                    border-radius: 8px;
                    border: 1px solid rgba(112, 133, 131, 0.30);
                    .time-slot {
                        border-radius: 12px;
                        border: 1px solid $secondaryColor;
                        background: $white;
                        min-width: 167px;
                        text-align: center;
                        padding: 10px 50px;
                        cursor: pointer;
                        &:hover {
                            background: linear-gradient(180deg, rgba(0, 129, 89, 0.50) 0%, rgba(2, 188, 230, 0.50) 100%);
                            color: $white;
                        }
                    }
                }
            }
        }
    }
}
@media (min-width: 1400px) {
    .container {
        max-width: 1440px !important;
    }
    .swiper-container {
        max-width: 1440px !important;
        margin: auto;
        margin-right: 0;
        position: relative;
    }
}
@media screen and (max-width:1220px) {
    .hero-banner {
        .book-appointment {
            padding: 30px;
        }
    }
}
@media screen and (max-width:991px) {
    .hero-banner {
        .book-appointment {
            padding: 24px;
        }
    }
    .testimonials {
        .review-section {
            margin-top: 1.5rem;
        }
    }
    .common-disease-sec {
        padding: 19px 0 24px !important;
        .accordion-button {
            border-radius: 8px !important;
            border: 0.5px solid rgba(33, 56, 77, 0.30) !important;
        }
    }
    .custom-dropmenu {
        width: 98% !important;
        bottom: 23% !important;
    }
}
@media screen and (max-width:768px) {
    .hero-banner {
        padding: 50px 0 16px !important;
        .book-appointment {
            padding: 24px 16px;
            .input-div {
                padding: 12px;
            }
            #searcLocation {
                width: 100%;
            }
            .form-control::placeholder {
                font-size: 12px;
                font-weight: 600;
            }
        }
    }
    .top-search {
        padding: 24px 0 !important;
    }
    .qualified-doctors {
        padding: 20px 0 !important; 
        .swiper-wrapper {
            margin-bottom: 1.5rem;
        }
        .swiper-pagination {
            display: block;
        }
        .swiper-pagination-bullet-active {
            width: 62px !important;
            height: 8px !important;
            border-radius: 50px !important;
            background: $primaryColor !important;
        }
    }
    .testimonials {
        padding: 24px 0 !important;
        .testimonialsSwiper {
            padding-top: 23px;
            .swiper-slide {
                width: 312px !important;
                margin-right: 16px;
                .review-section {
                    height: 220px;
                    max-height: 100%;
                    img {
                        width: 97px;
                    }
                    h4 {
                        font-size: 20px;
                        font-weight: 700 !important;
                    }
                }
            }
        }
    }
    .top-symptoms {
        padding: 24px 0 35px !important;
        .swiper-slide {
            margin-right: 1rem;
        }
    }
    .why-we-sec {
        padding: 22px 0 16px !important;
        h2 {
            font-weight: 700 !important;
        }
    }
    .join-doctor {
        padding: 22px 0 36px !important;
        h2 {
            font-weight: 700 !important;
        }
    }
    .trusted-companies {
        padding: 24px 0 32px !important;
    }
    .search-section {
        .search-doctors {
            width: unset !important;
            position: unset !important;
            .dropdown-menu {
                width: 300px !important;
            }
            .buttonSwiper {
                .swiper-slide {
                    width: 150px !important;
                }
            }
            .doctor-accordion {
                .accordion-button::after {
                    left: 75% !important;
                }
                .accordion-body > div {
                    overflow-x: scroll;
                    &::-webkit-scrollbar {
                        width: 0;
                    }
                }
                .appointents-date {
                    padding: 7px 7px 9px 7px !important;
                    .number-of-appointments {
                        width: 75px;
                    }
                }
            }
            .search-buttons {
                margin-left: 1rem;
                gap: 12px;
            }
            .search-doctors-fixed-top {
                position: unset !important;
            }
        }
    }
    .input-div-mobile {
        padding: 0 !important;
        button {
            border-radius: 5px;
        }
        input::placeholder {
            font-size: 14px !important;
        }
    }
}
@media screen and (min-width: 576px) {
    #filterModal {
        .modal-dialog {
            max-width: 675px !important;
        }
    }
    #availableDatesModal {
        .modal-dialog {
            max-width: 800px !important;
        }
    }
}
@media screen and (max-width:576px) {
    .font-40 {
        font-size: 28px;
    }
    .font-24, .font-18 {
        font-size: 14px;
    }
    .font-20 {
        font-size: 12px;
    }
    .font-16 {
        font-size: 12px;
    }
    .left-right-vector-bg {
        background: $bgColor !important;
    }
    .global-btn {
        font-size: 12px;
    }
    .distance-menu {
        margin-left: -11.5rem !important;
    }
}
@media screen and (max-width:425px) {
    .hero-banner {
        img {
            width: 174px;
        }
        .video_consultation_img {
            margin-top: -5rem;
            width: 210px !important;
        }
    }
    .trusted-companies {
        img {
            width: 88px;
        }
    }
    .testimonials {
        .review-section {
            
        }
    }
    .font-40 {
        font-size: 20px;
    }
    .price-range-menu {
        margin-left: unset !important;
    }
}
@media screen and (max-width:320px) {
    .hero-banner {
        .video_consultation_img {
            width: 199px !important;
            margin-top: -4.5rem;
        }
    }
}