@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Urbanist:wght@300;400;600;700;800&display=swap');

// Global css
$primaryColor: #02BCE6;
$secondaryColor: #008159;
$accentColor: #F2C246;
$darkBlue: #21384D;
$lightBlack: #333;
$bgColor: #F4F9FF;
$white: #ffffff;
$openSans: 'Open Sans', 'Helvetica Neue', sans-serif;
$ubranist: 'Urbanist', 'Helvetica Neue', sans-serif;

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none !important;
}
.font-40 {
    color: $lightBlack;
    font-family: $openSans;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.2px;
}
.font-24 {
    color: $white;
    font-family: $openSans;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.12px;
}
.font-20 {
    color: $darkBlue;
    font-family: $openSans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.1px;
}
.font-16 {
    text-align: center;
    font-family: $openSans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.08px;
}
.font-14 {
    color: $lightBlack;
    font-family: $openSans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.global-btn {
    color: $bgColor;
    text-align: center;
    font-family: $openSans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 12px;
    background: $accentColor;
    border: none;
}
// Header
header {
    background: $bgColor;
    padding: 16px 0;
    .dropdown-toggle::after {
        display: none !important;
    }
    .PakDoc-dropdown {
        gap: 32px;
    }
    .responsive_header {
        height: 100vh;
        background-color: #ffffff;
        min-width: 350px;
        max-width: 350px;
        top: 0;
        right: -350px;
        position: fixed;
        z-index: 103;
        padding: 44px 16px 24px 16px;
        transition: 0.5s;
        overflow: scroll;
        border-radius: 5px 0 0 5px;
      }
      .responsive_header.active {
        right: 0px;
      }
}
// Hero banner
.hero-banner {
    padding: 89px 15px 42px !important;
    background: url("/assets/images/left-right-vector.png") no-repeat, url(/assets/images/center-bubble.png) top right no-repeat, linear-gradient(100deg, rgba(0, 129, 89, 0.50) 2.59%, rgba(2, 188, 230, 0.50) 111.36%);
    .book-appointment {
        border-radius: 16px;
        background: rgba(255, 255, 255, 0.60);  
        padding: 24px 140px;
    }
    .input-div {
        padding: 12px 32px;
        border-radius: 12px;
        background: #FFF;
        flex: 1;
    }
    .form-control {
        padding: 0 !important;
        color: $lightBlack !important;
        background-color: transparent !important;
        border: none !important;
    }
    .form-control:focus {
        box-shadow: none !important;
    }
}


@media (min-width: 1400px) {
    .container {
        max-width: 1440px !important;
    }
}
@media screen and (max-width:768px) {
    .hero-banner {

        .book-appointment {
            padding: 15px;
        }
    }
}