@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Urbanist:wght@300;400;600;700;800&display=swap');

// Global css
$primaryColor: #02BCE6;
$secondaryColor: #008159;
$accentColor: #F2C246;
$darkBlue: #21384D;
$lightBlack: #333;
$lightBlack70: rgba(42, 42, 42, 0.70);
$lightBlack80: rgba(42, 42, 42, 0.80);
$lightBlack90: rgba(42, 42, 42, 0.90);
$bgColor: #F4F9FF;
$white: #ffffff;
$openSans: 'Open Sans', 'Helvetica Neue', sans-serif;
$ubranist: 'Urbanist', 'Helvetica Neue', sans-serif;

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
}
a {
    text-decoration: none !important;
    transition: all 1s ease;
}
a:hover {
    color: $accentColor !important;
}
.global-btn {
    color: $bgColor;
    text-align: center;
    font-family: $openSans;
    font-style: normal;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    border-radius: 12px;
    background: $accentColor;
    border: 1px solid $accentColor;
    transition: all 1s ease;
    &:hover {
        border: 1px solid $accentColor;
        background: $white !important;
        color: $accentColor;
    }
}
.blue-btn {
    border-radius: 12px;
    background: linear-gradient(100deg, rgba(0, 129, 89, 0.50) 2.59%, rgba(2, 188, 230, 0.50) 111.36%);
    color: $white;
    font-family: $openSans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: all 1s ease;
    &:hover {
        border: 1px solid $primaryColor;
        background: $white !important;
        color: $primaryColor;
    }
}
.white-text {
    color: $white;
}
.accent-text {
    color: $accentColor;
}
.dark-blue-text {
    color: $darkBlue;
}
.light-black {
    color: $lightBlack;
}
.light-black-70 {
    color: $lightBlack70;
}
.light-black-80 {
    color: $lightBlack80;
}
.light-black-90 {
    color: $lightBlack90;
}
.font-urbanist {
    font-family: $ubranist !important;
}
.font-weight-600 {
    font-weight: 600 !important;
}
.font-40 {
    font-family: $openSans;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.2px;
}
.font-24 {
    font-family: $openSans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.12px;
}
.font-20 {
    font-family: $openSans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.1px;
}
.font-16 {
    font-family: $openSans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.08px;
}
.font-14 {
    font-family: $openSans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

// Header
header {
    background: $bgColor;
    padding: 16px 0;
    .dropdown-toggle::after {
        display: none !important;
    }
    .PakDoc-dropdown {
        gap: 32px;
    }
    .responsive_header {
        height: 100vh;
        background-color: #ffffff;
        min-width: 350px;
        max-width: 350px;
        top: 0;
        right: -350px;
        position: fixed;
        z-index: 103;
        padding: 44px 16px 24px 16px;
        transition: 0.5s;
        overflow: scroll;
        border-radius: 5px 0 0 5px;
      }
      .responsive_header.active {
        right: 0px;
      }
      .pakdoc-profile-dropdown {
        width: 244px;
        padding: 16px;
        margin-top: 10px !important;
      }
      .pakdoc-profile-dropdown::before {
        content: "";
        width: 23px;
        height: 13px; 
        position: absolute;
        top: -9px; 
        right: 30px;
        background-color: white;
        clip-path: polygon(50% 0%, 100% 100%, 0% 100%);

    }
}
// Hero banner
.hero-banner {
    padding: 89px 0 42px !important;
    background: url("/assets/images/left-right-vector.png") no-repeat, url("/assets/images/center-bubble.png") top right no-repeat, linear-gradient(100deg, rgba(0, 129, 89, 0.50) 2.59%, rgba(2, 188, 230, 0.50) 111.36%);
    .book-appointment {
        border-radius: 16px;
        background: rgba(255, 255, 255, 0.60);  
        padding: 24px 180px;
        .input-div {
            padding: 12px 32px;
            border-radius: 12px;
            background: #FFF;
            flex: 1;
            width: 100%;
        }
        .form-control {
            padding: 0 !important;
            color: $lightBlack !important;
            background-color: transparent !important;
            border: none !important;
        }
        .form-control::placeholder {
            color: rgba(42, 42, 42, 0.50);
            font-family: $openSans;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 0.08px;
        }
        .form-control:focus {
            box-shadow: none !important;
        }
        #searcLocation {
            width: 70px;
        }
    }
    .carousel-item {
        border-radius: 8px;
        border: 1px solid $secondaryColor;
        padding: 10px;
    }
}
.left-right-vector-bg {
    background: url("../images/left-vector.png") top left no-repeat, url("../images/right-vector.png") bottom right no-repeat, $bgColor;
}
// Top search
.top-search {
    padding: 80px 0 120px;
    .top-search-items div {
        width: 165px;
    }
    .topSearchedSwiper {
        .swiper-slide {
            margin-right: 12px;
        }
    }
}
// Qualified doctors
.qualified-doctors {
    background: linear-gradient(100deg, rgba(0, 129, 89, 0.25) 2.59%, rgba(2, 188, 230, 0.25) 111.36%);
    position: relative;
    .swiper {
        width: 100%;
        height: 100%;
        position: unset !important;
      }
      .swiper-pagination {
        display: none;
      }
      .swiper-button-next:after, .swiper-button-prev:after {
        content: unset !important;
      }
      .swiper-button-next, .swiper-button-prev {
        position: unset !important;
        width: 44px;
        height: 44px;
        background: $bgColor;
        border-radius: 50%;
        padding: 8px;
      }
      .prev-btn, .next-btn {
        width: 44px;
        height: 44px;
        background: $bgColor;
        border-radius: 50%;
      }
      .swiper-buttons {
        position: absolute;
        top: -12%;
        right: 2%;
      }
      .swiper-scrollbar-horizontal {
        bottom: 0% !important;
      }
      .swiper-scrollbar-drag {
        background: rgba(2, 188, 230, 0.90) !important;
        left: 0% !important;
        cursor: grab;
      }
      .swiper-scrollbar {
        height: 12px !important;
      }
      .swiper-wrapper {
        gap: 16px;
        margin-bottom: 2.5rem;
      }
      .swiper-slide {
        border-radius: 16px !important;
        background: var(--white-white, #FFF) !important;
        box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.08) !important;
        padding: 16px;
        .profile-data {
            border-radius: 12px;
            background: var(--primary-color-10, rgba(2, 188, 230, 0.10));
            padding: 6px;
            box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.08);
        }
      }
}
// Testimonials
.testimonials {
    padding: 80px 0 120px !important;
    .review-section {
        border-radius: 16px;
        border: 1px solid rgba(112, 133, 131, 0.20);
        background: $white;
        padding: 20px;
        position: relative;
        img {
            margin-top: -4rem;
        }
    }
    .review-section:nth-child(2) {
        filter: drop-shadow(0px 8px 20px rgba(0, 0, 0, 0.08));
    }
}
// Why we section
.why-we-sec {
    padding: 69px 0 54px;
    background: url("../images/left-right-vector.png") no-repeat, url("../images/center-bubble-full.png") 90% 72% no-repeat, linear-gradient(100deg, rgba(0, 129, 89, 0.50) 2.59%, rgba(2, 188, 230, 0.50) 111.36%);
}
// Top Symptoms
.top-symptoms {
    padding: 80px 0 204px;
}
// Join a doctor section
.join-doctor {
    padding: 55px 0 70px;
    background: url("../images/left-right-vector.png") no-repeat, url("../images/become-a-doctor-vector-bubble.png") 90% 72% no-repeat, linear-gradient(100deg, rgba(0, 129, 89, 0.50) 2.59%, rgba(2, 188, 230, 0.50) 111.36%);
}
// Trusted companies
.trusted-companies {
    padding: 80px 0 200px;
}
// Common disease section
.common-disease-sec {
    padding: 32px 0 58px;
    background: url("../images/left-right-vector.png") no-repeat, url("../images/common-disease-bubble-full.png") 80% 70% no-repeat, linear-gradient(100deg, rgba(0, 129, 89, 0.50) 2.59%, rgba(2, 188, 230, 0.50) 111.36%);
    .accordion {
        margin-top: 32px;
        background-color: transparent !important;
        .accordion-item {
            flex: 1;
            width: 100%;
            background-color: transparent !important;
            border: unset !important;
            .accordion-button {
                background-color: transparent !important;
            }
            .accordion-button:focus {
                box-shadow: unset !important;
            }
            .accordion-collapse.show {
                border-top: 1px solid rgba(112, 133, 131, 0.20);
            }
            .accordion-button:not(.collapsed) {
                box-shadow: unset !important;
                color: $lightBlack;
            }
        }
    }
    
}
// footer section
footer {
    padding: 42px 15px;
    background: $lightBlack90;
}
@media (min-width: 1400px) {
    .container {
        max-width: 1440px !important;
    }
    .swiper-container {
        max-width: 1440px !important;
        margin: auto;
        margin-right: 0;
        position: relative;
    }
}
@media screen and (max-width:1220px) {
    .hero-banner {
        .book-appointment {
            padding: 30px;
        }
    }
}
@media screen and (max-width:991px) {
    .hero-banner {
        .book-appointment {
            padding: 24px;
        }
    }
    .testimonials {
        .review-section {
            margin-top: 1.5rem;
        }
    }
    .common-disease-sec {
        padding: 19px 0 24px !important;
        .accordion-button {
            border-radius: 8px !important;
            border: 0.5px solid rgba(33, 56, 77, 0.30) !important;
        }
    }
}
@media screen and (max-width:768px) {
    .hero-banner {
        padding: 50px 0 16px !important;
        .book-appointment {
            padding: 24px 16px;
            .input-div {
                padding: 12px;
            }
            #searcLocation {
                width: 100%;
            }
            .form-control::placeholder {
                font-size: 12px;
                font-weight: 600;
            }
        }
    }
    .top-search {
        padding: 24px 0 !important;
    }
    .qualified-doctors {
        padding: 20px 0 !important; 
        .swiper-wrapper {
            margin-bottom: 1.5rem;
        }
        .swiper-pagination {
            display: block;
        }
        .swiper-pagination-bullet-active {
            width: 62px !important;
            height: 8px !important;
            border-radius: 50px !important;
            background: $primaryColor !important;
        }
    }
    .testimonials {
        padding: 24px 0 !important;
        .testimonialsSwiper {
            padding-top: 23px;
            .swiper-slide {
                width: 312px !important;
                margin-right: 16px;
                .review-section {
                    height: 220px;
                    max-height: 100%;
                    img {
                        width: 97px;
                    }
                    h4 {
                        font-size: 20px;
                        font-weight: 700 !important;
                    }
                }
            }
        }
    }
    .top-symptoms {
        padding: 24px 0 35px !important;
        .swiper-slide {
            margin-right: 1rem;
        }
    }
    .why-we-sec {
        padding: 22px 0 16px !important;
        h2 {
            font-weight: 700 !important;
        }
    }
    .join-doctor {
        padding: 22px 0 36px !important;
        h2 {
            font-weight: 700 !important;
        }
    }
    .trusted-companies {
        padding: 24px 0 32px !important;
    }
}
@media screen and (max-width:576px) {
    .font-40 {
        font-size: 28px;
    }
    .font-24 {
        font-size: 14px;
    }
    .font-20 {
        font-size: 12px;
    }
    .font-16 {
        font-size: 12px;
    }
    .left-right-vector-bg {
        background: $bgColor !important;
    }
    .global-btn {
        font-size: 12px;
    }
}
@media screen and (max-width:425px) {
    .hero-banner {
        img {
            width: 210px;
        }
        .video_consultation_img {
            margin-top: -5rem;
        }
    }
    .trusted-companies {
        img {
            width: 88px;
        }
    }
    .testimonials {
        .review-section {
            
        }
    }
    .font-40 {
        font-size: 20px;
    }
}
@media screen and (max-width:320px) {
    .hero-banner {
        .video_consultation_img {
            margin-top: 0rem;
        }
    }
}